.error_container {
    display: block;
    margin:0 auto;
    width: 50%;
    text-align:center;
    padding: 9.5% 0 9.5% 0;
}

.error_text {
    color: white;
    font-size: 2.2em;
    
    margin: 0;
}

.error_type_text {
    color: white;
    font-size: 9em;
    
    margin: 0;
}

.message_text {
    color: white;
    font-size: 2.2em;
    
    margin: 0;
}

.return_home {
    background: #43C3FA;
    display: block;
    margin: 0 auto;
    border-radius: 100px;
    width: 200px;
    height: 35px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border: 3px solid #43C3FA;
    font-weight: bold;
    text-decoration: none;
    line-height: 35px;
    margin-top: 20px;
}

.return_home:hover {
    background: none;
}
