.form {
    width:50%;
    float:left;
}
.youtube_video_container {
    position: relative;
    width: 50%;
    height: 0;
    padding-bottom: 56.25%;
    float:right;
}
.youtube_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}