.form {
    width:50%;
}

.rounded_form_box {
    background: #FFFFFF;
    border-radius: 100px;
    height: 25px;
    width: 300px;
    outline-width: 0;
    margin-top: 10px;
    padding-left: 10px;
    border: white solid;
}

.note_form {
    background: #FFFFFF;
    border-radius: 0px 50px;
    padding: 15px;
    outline-width: 0;
    width: 90%;
    max-width: 90%;
    margin-top: 10px;
    border: white solid;
}

.autoplay_form {
    list-style-type: none;
    padding: 0;
}

.submit_button {
    background: #43C3FA;
    border-radius: 100px;
    width: 200px;
    height: 35px;
    color: white;
    cursor: pointer;
    float: right;
    transition: 0.3s;
    border: 3px solid #43C3FA;
    font-weight: bold;
}

.submit_button:hover {
    background: none;
}
