.top {
    position: relative;
    width: 50%
}

.left_container {
    width:50%;
    position: relative;
}
.note_link {
    position: relative;
    width: 500px;
    background: #FFFFFF;
    border-radius: 100px;
    border: white solid;
    height: 25px;
    outline-width: 0;
    margin-top: 10px;
    padding-left: 10px;
}

.copy_link_container {
    width: 100%;
}

.copy_link_button {
    position: relative;
    background: #43C3FA;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border: 3px solid #43C3FA;
    font-weight: bold;
    padding: 2px 20px 2px 20px;

    margin-left: -120px;

    display: inline;
}
.copy_link_button:hover {
    background: none;
    color: #43C3FA;
}

.expiry_date {
    color: white;
    
    font-size: 1em;
}

.the_note {
    background: #FFFFFF;
    width: 90%;
    min-height: 300px;
    white-space: pre-wrap; /* Preserves new lines */
    padding: 20px;
    border-radius: 0px 50px;
}

.note_title {
    color: white;
    
    font-size: 1.2em;
}

.duplicate_button {
    background: #43C3FA;
    border-radius: 100px;
    width: 250px;
    height: 35px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border: 3px solid #43C3FA;
    font-weight: bold;
}

.duplicate_button:hover {
    background: none;
}


@media only screen and (max-width: 1200px) {
    .copy_link_button {
        margin-left: -120px;
    }
    .note_link {
        width: 90%;
    }
}


@media only screen and (max-width: 1000px) {
    .youtube_video_container {
        position: sticky;
        width: 100%;
        top: 0%;
        height: 25vh;
        margin: 0 auto;
        display: block;
        text-align: center;
        z-index: 2;
        margin-bottom: 200px;
    }
    .note_link {
        width: 95%;
    }
    .top {
        width: 100%;
        left: auto !important;
    }
    .left_container {
        width: 100%;
        left: auto !important;
    }
    .duplicate_button {
        float: none;
        margin: 0 auto;
        display: block;
    }
    .copy_link_button {
        margin-left: -117.5px;
    }
}

@media only screen and (max-width: 500px) {
    .copy_link_button {
        margin-left: 0px;
        margin-top: 10px;
    }
}