<!DOCTYPE html>
<html>

    <head>
        <title>404 Page not found - VidNotes</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Adds the Roboto font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        
        
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
        </style>
        <!-- Adds the Roboto font ^^^ -->


        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}"> 
        

    </head>
<body>
    <div class="top_container">
        <div class="content">
            {% include 'header.html' %}

            <div class="error_container">
                <h2 class="error_text">ERROR</h2>
                <h1 class="error_type_text">404</h1>
                <h2 class="message_text">The note or page you are looking for either does not exist, or has expired!</h2>
            
                <a href="/" class="return_home">Return Home!</a>
            
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</body>

</html>