<style>
    .about_container {
        padding: 20px;
        height: 60%;
    }
    .about_text {
        color: white;
        font-size: 1em;
        white-space: pre-wrap; /* Preserves new lines */
    }
</style>

<!DOCTYPE html>
<html>

    <head>
        <title>Leadeo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Adds the Roboto font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        
        
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
        </style>
        <!-- Adds the Roboto font ^^^ -->


        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"> 
        

    </head>

<body>
    
    <div class="content">

        {% with active_page="about" %} {# sets about as the active page #}
        {% include 'header.html' %}
        {% endwith %}


        <h1 style="color:white;">About Leadeo</h1>

        <div class="about_container">
            <p class="about_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially </p>
        </div>
    </div>


    {% include 'footer.html' %}

</body>


</html>