<!DOCTYPE html>
<html>

    <head>
        <title>Leadeo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Adds the Roboto font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <!-- Adds the Roboto font ^^^ -->

        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"> 
        

    </head>

<body>
    
    <div class="content">

        {% with active_page="faq" %} {# sets faq as the active page #}
        {% include 'header.html' %}
        {% endwith %}

        <h1 style="color:white;">Coming soon!</h1>

    </div>


    {% include 'footer.html' %}

</body>


</html>