<!DOCTYPE html>
<html>

    <head>
        <title>Leadeo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Adds the Roboto font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        
        
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
        </style>
        <!-- Adds the Roboto font ^^^ -->


        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/faq.css') }}"> 
        

    </head>

<body>
    
    <div class="content">

        {% with active_page="faq" %} {# sets faq as the active page #}
        {% include 'header.html' %}
        {% endwith %}

        <h1 style="color:white;">Frequently Asked Questions</h1>

        	<!--Accordion start-->
<div class="accordion_container">

	<button class="accordion accordion_text"><div class="accordion_circle"></div>Do notes ever expire?</button>
	<div class="inside_accordion">
		<p class="accordion_answer_text">Notes expire after 14 days, however, you can renew notes by duplicating them before they expire! </p>
	</div>

	<button class="accordion accordion_text"><div class="accordion_circle"></div>Is data on your users being collected?</button>
	<div class="inside_accordion">
		<p class="accordion_answer_text">No. We do not collect or store any user’s personal data onto our databases.</p>
	</div>

	<button class="accordion accordion_text"><div class="accordion_circle"></div>Is Leadeo open-source?</button>
	<div class="inside_accordion">
		<p class="accordion_answer_text">Yes! You can contribute to Leadeo by heading over to our GitHub repository, and making a pull request, or issue!</p>
	</div>

	<button class="accordion accordion_text"><div class="accordion_circle"></div> Question</button>
	<div class="inside_accordion">
		<p class="accordion_answer_text">Answer</p>
	</div>

</div>
<!--Accordion end-->

    </div>


    {% include 'footer.html' %}

</body>

	<script>
        var faq_accordion = document.getElementsByClassName("accordion");
        var faq_status;

        for (faq_status = 0; faq_status < faq_accordion.length; faq_status++) {
        faq_accordion[faq_status].addEventListener("click", function() {
            this.classList.toggle("active");
            var accordion_container = this.nextElementSibling;
            if (accordion_container.style.maxHeight) {
                accordion_container.style.maxHeight = null;
            } 
            else {
                accordion_container.style.maxHeight = accordion_container.scrollHeight + "px";
            } 
        });
        }
    </script>

</html>