<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}"> 


<ul class="nav_bar">
    <li class="nav_left"><a class="nav_link" href="/">VidNotes</a></li>

    <li class="nav_right"><a class="nav_link {{ 'active' if active_page == 'faq' else '' }}" href="/faq">FAQ</a></li>
    <li class="nav_right"><a class="nav_link {{ 'active' if active_page == 'about' else '' }}" href="/about">About</a></li>
    <li class="nav_right"><a class="nav_link {{ 'active' if active_page == 'home' else '' }}" href="/">Home</a></li>
</ul>

<div class="line_under_navbar"></div>

